*{
  margin: 0;
  padding: 0;
}

header {
  margin: 70px auto;
  width: 1000px;
}

body{
  background-color: #F3F1E1;
}

.topbar{
  overflow: hidden;
  background: #F3F1E1;
  position: fixed;
  top: 0;
  margin-left: 2px;
  margin-right:2px;
}

.topbar img{
  width: 179px;
  height:82px;
}

.topbar h1{
  display: block;
  float: left;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  font-size: 48px;
  font-family: arial;
  font-weight: bold;
}

.storkasse {
  display: flex;
  flex-direction: row;
  position: center;
  padding-top: 5%;
  margin: 70px auto;
  width: 1000px;
}

.kasse1{


}

.kasse2{
  display: flex;
  flex-direction: column;
}

h2{
  font-size: 0.7em;
}



.kasse1 ul li {
list-style: none;
font-family: arial;
font-weight: bold italic;
font-variant: small-caps;
}

.kasse1 ul li a {
text-decoration: none;
color: #363216;
}
